.footer-widget.logo img {
    max-width: 160px;
    margin-bottom: 20px;
}

.footer-top-area {
    background: #000000;
    padding: 90px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom-area {
    background: #10c3c8;
    padding: 20px 0;
}

.site-logo img {
    max-width: 160px;
}

.caption-content li a {
    display: block;
    background-color: #ed1e52;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}