.card {
    margin: 0 0 15px;
    border: none;
}


.card-header {
    position: relative;
    background-color: #fff;
    border-bottom: none;
    padding: 0;
    letter-spacing: 1px;
}

.card-body.current {
    display: block;
}

.card-header a:before {
    content: '\f067';
    font-family: 'fontawesome';
    position: absolute;
    color: #ed1e52;
    font-size: 12px;
    right: 15px
}

.card-header.active a:before {
    content: '\f068';
}

.card-header a {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 25px;
    color: #10c3c8;
    display: block;
    position: relative;
    padding: 20px 25px
}

.card-header a:hover {
    color: #ed1e52;
}

.card-body {
    padding: 0;
    color: #000000;
    font-size: 16px;
    line-height: 28px;
    font-family: "Rubik", Sans-serif;
    padding: 0 25px 25px
}

.card-header.two a:hover {
    color: #10c3c8;
}
.course-curriculum .card {
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.course-curriculum .course-lesson {
    border-top: 1px solid #dee2e6;
    padding: 10px 25px 0;
}

.course-curriculum .card-body {
    padding: 0;
}

.course-curriculum .course-lesson i {
    color: #b4b7c0;
    padding-right: 10px;
}

.course-curriculum .course-lesson .lesson-text i {
    padding-right: 0;
    padding-left: 10px;
}

.course-curriculum .course-lesson p {
    color: #212327;
}

.course-curriculum .card-header a {
    color: #10c3c8;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.course-curriculum .card-header.active a,
.course-curriculum .card-header a:hover {
    color: #ed1e52;
}

.course-curriculum h3,
.review-contents h3 {
    color: #ed1e52;
    font-weight: 700;
    margin-bottom: 15px;
}